<form novalidate>
  <div class="govuk-form-group">
    <form [formGroup]="searchForm" novalidate>
      <label class="govuk-label heading-small" for="ccd-search">
        Enter ccd-case number:
        <span class="form-hint">For example: 1111-2222-3333-4444</span>
      </label>
      <input class="govuk-input govuk-input--width-20 govuk-!-margin-right-1" id="ccd-search" name="ccd-search" type="text" formControlName="searchInput">
      <button class="govuk-button" type="submit" (click)="showCaseTransactions()">
        SearchSantosh
      </button>
    </form>
  </div>
</form>
