<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body">
        <img src="/assets/images/filmhunterlogo.png" class="img-responsive center-block" />
        <div class="panel-body">
            <div class="row">
                <div class="text-center">Developed by:</div>
                <h3 class="text-center">Common components</h3>
                <div class="text-center">tpalisetty@hmcts.net</div>
            </div>
        </div>
    </div>
</div>