<div class="panel panel-primary">
  <div class="panel-heading">
    {{ pageTitle }}
  </div>
</div>

<div class="container">
  <fieldset class="col-md-12">
    <legend><h2>Card details</h2></legend>
    <div class="row">
      <div class="col-md-2">Cardholder name:</div>
      <div class="col-md-10">{{ cardDetails.cardholder_name }}</div>
    </div>
    <legend></legend>
    <div class="row">
      <div class="col-md-2">Card number:</div>
      <div class="col-md-10">{{ cardDetails.last_digits_card_number }}</div>
    </div>
    <legend></legend>
    <div class="row">
      <div class="col-md-2">Card expiry date:</div>
      <div class="col-md-10">{{ cardDetails.expiry_date }}</div>
    </div>
    <legend></legend>
    <div class="row">
      <div class="col-md-2">Card brand:</div>
      <div class="col-md-10">{{ cardDetails.card_brand }}</div>
    </div>
    <legend></legend>
    <div class="row">
      <div class="col-md-2">Email:</div>
      <div class="col-md-10">{{ cardDetails.email }}</div>
    </div>
    <legend></legend>
  </fieldset>
</div>

<div class="container">
  <fieldset class="col-md-12">
    <button class="btn btn-success btn-lg">Back</button>
  </fieldset>
</div>
