
<app-header></app-header>

<div class="govuk-width-container">
  <app-phase-banner></app-phase-banner>
  <!--<div class="govuk-breadcrumbs">-->
    <!--<ol class="govuk-breadcrumbs__list">-->
      <!--<li class="govuk-breadcrumbs__list-item">-->
        <!--<a class="govuk-breadcrumbs__link" routerLink="/cases">Cases</a>-->
      <!--</li>-->
    <!--</ol>-->
  <!--</div>-->


    <div class="govuk-grid-row">
      <router-outlet></router-outlet>
    </div>

</div>


<app-footer></app-footer>

