<div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-xl">Payment summary</h1>


  <table class="govuk-c-table">
    <thead class="govuk-c-table__head">
    <tr class="govuk-c-table__row">
      <th class="govuk-c-table__header-CCD" scope="col"></th>
      <th class="govuk-c-table__header-CCD" scope="col"></th>
      <th class="govuk-c-table__header-CCD" scope="col"></th>
    </tr>

    </thead>
    <tbody class="govuk-c-table__body">
    <!-- <tr class="govuk-c-table__row">
      <th class="govuk-c-table__cell-CCD-column1-test" scope="row">Number of payments:</th>
      <td class="govuk-c-table__cell-CCD-column2-test">1</td>
      <td class="govuk-c-table__cell-CCD-column3-test"></td>
    </tr> -->
    <tr class="govuk-c-table__row">
      <th class="govuk-c-table__cell-CCD-column1-test" scope="row">Payment reference:</th>
      <td class="govuk-c-table__cell-CCD-column2-test">{{payment.payment_reference}}</td>
      <td class="govuk-c-table__cell-CCD-column3-test"></td>
    </tr>

    <tr class="govuk-c-table__row">
      <th class="govuk-c-table__cell-CCD-column1-test" scope="row">Total payment amount:</th>
      <td class="govuk-c-table__cell-CCD-column2-test">£{{payment.amount}}</td>
      <td class="govuk-c-table__cell-CCD-column3-test"></td>
    </tr>
    </tbody>
  </table>

  <br>

  <h2>Fee details</h2>
  <table class="govuk-c-table" *ngFor="let fee of payment.fees">

    <thead class="govuk-c-table__head">
    <tr class="govuk-c-table__row">
      <th class="govuk-c-table__header-CCD" scope="col"></th>
      <th class="govuk-c-table__header-CCD" scope="col"></th>
      <th class="govuk-c-table__header-CCD" scope="col"></th>

    </tr>


    </thead>
    <tbody class="govuk-c-table__body">
    <tr class="govuk-c-table__row">
      <th class="govuk-c-table__cell-CCD-column1-test" scope="row">Fee description:</th>
      <td class="govuk-c-table__cell-CCD-column2-test">{{fee.description || 'Cannot fetch fee description'}}</td>
      <td class="govuk-c-table__cell-CCD-column3-test"></td>
    </tr>
    <tr class="govuk-c-table__row">
      <th class="govuk-c-table__cell-CCD-column1-test" scope="row">Fee code:</th>
      <td class="govuk-c-table__cell-CCD-column2-test">{{fee.code}}</td>
      <td class="govuk-c-table__cell-CCD-column3-test"></td>
    </tr>
    <!-- <tr class="govuk-c-table__row">
      <th class="govuk-c-table__cell-CCD-column1-test" scope="row">Remission reference:</th>
      <td class="govuk-c-table__cell-CCD-column2-test">PA170855</td>
      <td class="govuk-c-table__cell-CCD-column3-test"></td>
    </tr> -->
    <tr class="govuk-c-table__row">
      <th class="govuk-c-table__cell-CCD-column1-test" scope="row">Fee amount:</th>
      <td class="govuk-c-table__cell-CCD-column2-test">£{{fee.amount}}</td>
      <td class="govuk-c-table__cell-CCD-column3-test"></td>
    </tr>
    <!-- <tr class="govuk-c-table__row">
      <th class="govuk-c-table__cell-CCD-column1-test" scope="row">Remission amount:</th>
      <td class="govuk-c-table__cell-CCD-column2-test">-£25.00</td>
      <td class="govuk-c-table__cell-CCD-column3-test"></td>
    </tr> -->
    <tr class="govuk-c-table__row">
      <th class="govuk-c-table__cell-CCD-column1-test" scope="row">Net amount:</th>
      <td class="govuk-c-table__cell-CCD-column2-test">£215.00</td>
      <td class="govuk-c-table__cell-CCD-column3-test"></td>
    </tr>

    </tbody>
  </table>

  <br>
  <br>


  <h2 class="govuk-heading-l">RC-2332-5352-6211-7352</h2>

  <h2>Payment method</h2>
  <table class="govuk-c-table">

    <thead class="govuk-c-table__head">
    <tr class="govuk-c-table__row">
      <th class="govuk-c-table__header-CCD" scope="col"></th>
      <th class="govuk-c-table__header-CCD" scope="col"></th>
      <th class="govuk-c-table__header-CCD" scope="col"></th>

    </tr>


    </thead>
    <tbody class="govuk-c-table__body">
    <tr class="govuk-c-table__row">

      <th class="govuk-c-table__cell-CCD-column1-test" scope="row">Type:</th>
      <td class="govuk-c-table__cell-CCD-column2-test">Card</td>
      <td class="govuk-c-table__cell-CCD-column3-test"></td>
    </tr>
    <tr class="govuk-c-table__row">

      <th class="govuk-c-table__cell-CCD-column1-test" scope="row">Name:</th>
      <td class="govuk-c-table__cell-CCD-column2-test">Jane Hartley</td>
      <td class="govuk-c-table__cell-CCD-column3-test"></td>
    </tr>
    <tr class="govuk-c-table__row">
      <th class="govuk-c-table__cell-CCD-column1-test" scope="row">Card number:</th>
      <td class="govuk-c-table__cell-CCD-column2-test">**** **** **** 2346</td>
      <td class="govuk-c-table__cell-CCD-column3-test"></td>
    </tr>
    <tr class="govuk-c-table__row">
      <th class="govuk-c-table__cell-CCD-column1-test" scope="row">Card expiry date:</th>
      <td class="govuk-c-table__cell-CCD-column2-test">12/20</td>
      <td class="govuk-c-table__cell-CCD-column3-test"></td>
    </tr>

    <!-- <tr class="govuk-c-table__row">
      <th class="govuk-c-table__cell-CCD-column1-test" scope="row">Name:</th>
      <td class="govuk-c-table__cell-CCD-column2-test">John Brown</td>
      <td class="govuk-c-table__cell-CCD-column3-test"></td>
    </tr>
    <tr class="govuk-c-table__row">
      <th class="govuk-c-table__cell-CCD-column1-test" scope="row">Card number:</th>
      <td class="govuk-c-table__cell-CCD-column2-test">**** **** **** 2346</td>
      <td class="govuk-c-table__cell-CCD-column3-test"></td>
    </tr>
    <tr class="govuk-c-table__row">
      <th class="govuk-c-table__cell-CCD-column1-test" scope="row">Card expiry date:</th>
      <td class="govuk-c-table__cell-CCD-column2-test">12/20</td>
      <td class="govuk-c-table__cell-CCD-column3-test"></td>
    </tr> -->

    <!-- <tr class="govuk-c-table__row">
      <th class="govuk-c-table__cell-CCD-column1-test" scope="row">Name on cheque:</th>
      <td class="govuk-c-table__cell-CCD-column2-test">John Brown</td>
      <td class="govuk-c-table__cell-CCD-column3-test"></td>
    </tr>
    <tr class="govuk-c-table__row">
      <th class="govuk-c-table__cell-CCD-column1-test" scope="row">Cheque number:</th>
      <td class="govuk-c-table__cell-CCD-column2-test">235976</td>
      <td class="govuk-c-table__cell-CCD-column3-test"></td>
    </tr>
    <tr class="govuk-c-table__row">
      <th class="govuk-c-table__cell-CCD-column1-test" scope="row">Account number:</th>
      <td class="govuk-c-table__cell-CCD-column2-test">*****98</td>
      <td class="govuk-c-table__cell-CCD-column3-test"></td>
    </tr>
    <tr class="govuk-c-table__row">
      <th class="govuk-c-table__cell-CCD-column1-test" scope="row">Sort code:</th>
      <td class="govuk-c-table__cell-CCD-column2-test">****78</td>
      <td class="govuk-c-table__cell-CCD-column3-test"></td>
    </tr> -->
    </tbody>
  </table>

  <br>

  <h2>Payment history</h2>
  <table class="govuk-c-table">

    <thead class="govuk-c-table__head">
    <tr class="govuk-c-table__row">
      <th class="govuk-c-table__header-CCD" scope="col"></th>
      <th class="govuk-c-table__header-CCD" scope="col"></th>
      <th class="govuk-c-table__header-CCD" scope="col"></th>

    </tr>


    </thead>
    <tbody class="govuk-c-table__body">
    <tr class="govuk-c-table__row">
      <th class="govuk-c-table__cell-CCD-column1-test" scope="row">Payment pending</th>
      <td class="govuk-c-table__cell-CCD-column2-test">£215.00</td>
      <td class="govuk-c-table__cell-CCD-column3-test">28 Jun 2018—12:27:15</td>
    </tr>
    <tr class="govuk-c-table__row">
      <th class="govuk-c-table__cell-CCD-column1-test" scope="row">Payment failed</th>
      <td class="govuk-c-table__cell-CCD-column2-test">£215.00</td>
      <td class="govuk-c-table__cell-CCD-column3-test">28 Jun 2018—12:27:15</td>
    </tr>


    </tbody>
  </table>


</div>
