<main class="govuk-main-wrapper " id="main-content" role="main">
<div>
  <h1 class="govuk-heading-xl">Cases</h1>
</div>

<div class="container">
    <table class="govuk-table">
      <tr class="govuk-table__row">
        <th class="govuk-table__header">Case reference</th>
        <th class="govuk-table__header">Petitioner</th>
        <th class="govuk-table__header">Respondent</th>
        <th class="govuk-table__header">DataOfLastCourtAction</th>
        <th class="govuk-table__header">ApplicationStatus</th>
      </tr>
      @for (case of cases; track case.ccdCaseNumber) {
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a routerLink="/payment-lib-int/{{ case.ccdCaseNumber }}" [queryParams]="{ paymentMethod: 'card' }">{{ case.ccdCaseNumber }}</a>
          </td>
          <td class="govuk-table__cell">{{ case.petitioner }}</td>
          <td class="govuk-table__cell">{{ case.respondent }}</td>
          <td class="govuk-table__cell">{{ case.dateOfLastCourtAction }}</td>
          <td class="govuk-table__cell">{{ case.applicationStatus }}</td>
        </tr>
      }
    </table>
</div>
</main>
