<div class="panel panel-primary">
  <div class="panel-heading">
    {{pageTitle}}
  </div>
</div>

<div class="container">
    <table class="table">
      <tr>
        <th>Case reference</th>
        <th>Petitioner</th>
        <th>Respondent</th>
        <th>DataOfLastCourtAction</th>
        <th>ApplicationStatus</th>
      </tr>
      <tr *ngFor="let case of cases">
        <td>
          <a routerLink="/payment-lib-int/{{ case.ccdCaseNumber }}" [queryParams]="{ paymentMethod: 'card' }">{{ case.ccdCaseNumber }}</a>
        </td>
        <td>{{ case.petitioner }}</td>
        <td>{{ case.respondent }}</td>
        <td>{{ case.dateOfLastCourtAction }}</td>
        <td>{{ case.applicationStatus }}</td>
      </tr>
    </table>
</div>
